@{
    ViewBag.Title = "Contact";
}
<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
        <address>
            <strong>Software Developer:</strong>   <a href="mailto:Support@example.com">radoslaw.lukasz.zegzula@gmail.com</a><br />

        </address>
</div>
