@{
    ViewBag.Title = "Contact";
}
<div class="container body-content">
    <br />
    <h2>@ViewBag.Title</h2>
    <address>
        <strong>Email:</strong> <a href="mailto:Support@example.com">radoslaw.lukasz.zegzula@gmail.com</a>
        <br />
        <strong>Github:</strong> <a href="https://github.com/RadoslawZegzula">github.com/RadoslawZegzula</a>
    </address>
</div>
