<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package partId="Dapper" version="2.0.30" targetFramework="net471" />
  <package partId="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package partId="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package partId="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package partId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package partId="MSTest.TestAdapter" version="2.0.0" targetFramework="net471" />
  <package partId="MSTest.TestFramework" version="2.0.0" targetFramework="net471" />
  <package partId="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package partId="popper.js" version="1.14.3" targetFramework="net471" />
</packages>