<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection2" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OnlineShop;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=bazaradoslawa.database.windows.net;Initial Catalog=BazaRadoslawaName;User ID=bazaradoslawa;Password=Radek036;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

</connectionStrings>
